emonocot-checklist/src/test/resources/org/emonocot/checklist/persistence/dataset.dtd

<!ELEMENT dataset (
    author_type*,
    authors*,
    databasechangelog*,
    databasechangeloglock*,
    place_of_publication*,
    plant_author*,
    plant_citation*,
    plant_locality*,
    plant_name*,
    plant_name_deleted*,
    publication*,
    publication_edition*,
    publication_type*,
    web_log*)>

<!ELEMENT author_type EMPTY>
<!ATTLIST author_type
    Author_type_id CDATA #REQUIRED
>

<!ELEMENT authors EMPTY>
<!ATTLIST authors
    Author_id CDATA #REQUIRED
    Author CDATA #IMPLIED
>

<!ELEMENT databasechangelog EMPTY>
<!ATTLIST databasechangelog
    ID CDATA #REQUIRED
    AUTHOR CDATA #REQUIRED
    FILENAME CDATA #REQUIRED
    DATEEXECUTED CDATA #REQUIRED
    ORDEREXECUTED CDATA #REQUIRED
    EXECTYPE CDATA #REQUIRED
    MD5SUM CDATA #IMPLIED
    DESCRIPTION CDATA #IMPLIED
    COMMENTS CDATA #IMPLIED
    TAG CDATA #IMPLIED
    LIQUIBASE CDATA #IMPLIED
>

<!ELEMENT databasechangeloglock EMPTY>
<!ATTLIST databasechangeloglock
    ID CDATA #REQUIRED
    LOCKED CDATA #REQUIRED
    LOCKGRANTED CDATA #IMPLIED
    LOCKEDBY CDATA #IMPLIED
>

<!ELEMENT place_of_publication EMPTY>
<!ATTLIST place_of_publication
    Place_of_publication_id CDATA #REQUIRED
    Place_of_publication CDATA #IMPLIED
>

<!ELEMENT plant_author EMPTY>
<!ATTLIST plant_author
    Plant_author_id CDATA #REQUIRED
    Plant_name_id CDATA #IMPLIED
    Author_type_id CDATA #IMPLIED
    Author_id CDATA #IMPLIED
>

<!ELEMENT plant_citation EMPTY>
<!ATTLIST plant_citation
    Plant_citation_id CDATA #REQUIRED
    Plant_name_id CDATA #IMPLIED
    Publication_edition_id CDATA #IMPLIED
>

<!ELEMENT plant_locality EMPTY>
<!ATTLIST plant_locality
    Plant_locality_id CDATA #REQUIRED
    Area_code_L3 CDATA #IMPLIED
    Region_code_L2 CDATA #IMPLIED
    Plant_name_id CDATA #IMPLIED
>

<!ELEMENT plant_name EMPTY>
<!ATTLIST plant_name
    Plant_name_id CDATA #REQUIRED
    Full_epithet CDATA #IMPLIED
    Institute_id CDATA #IMPLIED
    Accepted_plant_name_id CDATA #IMPLIED
    Modified_date CDATA #IMPLIED
    Date_of_entry CDATA #IMPLIED
    Family CDATA #IMPLIED
    Genus_hybrid_marker CDATA #IMPLIED
    Genus CDATA #IMPLIED
    Species_hybrid_marker CDATA #IMPLIED
    Species CDATA #IMPLIED
    Infraspecific_rank CDATA #IMPLIED
    Infraspecific_epithet CDATA #IMPLIED
    Date_Name_modified CDATA #IMPLIED
    Date_Locality_modified CDATA #IMPLIED
    Date_Authors_modified CDATA #IMPLIED
    Date_Citations_modified CDATA #IMPLIED
    Publication_author CDATA #IMPLIED
    Volume_and_page CDATA #IMPLIED
    First_published CDATA #IMPLIED
    Place_of_publication_id CDATA #IMPLIED
>

<!ELEMENT plant_name_deleted EMPTY>
<!ATTLIST plant_name_deleted
    Plant_name_id CDATA #REQUIRED
    Full_epithet CDATA #IMPLIED
    Institute_id CDATA #IMPLIED
    Accepted_plant_name_id CDATA #IMPLIED
    Modified_date CDATA #IMPLIED
    Deleted_date CDATA #IMPLIED
    Date_of_entry CDATA #IMPLIED
    Family CDATA #IMPLIED
    Genus_hybrid_marker CDATA #IMPLIED
    Genus CDATA #IMPLIED
    Species_hybrid_marker CDATA #IMPLIED
    Species CDATA #IMPLIED
    Infraspecific_rank CDATA #IMPLIED
    Infraspecific_epithet CDATA #IMPLIED
    Date_Name_modified CDATA #IMPLIED
    Date_Locality_modified CDATA #IMPLIED
    Date_Authors_modified CDATA #IMPLIED
    Date_Citations_modified CDATA #IMPLIED
    Publication_author CDATA #IMPLIED
    Volume_and_page CDATA #IMPLIED
    First_published CDATA #IMPLIED
    Place_of_publication_id CDATA #IMPLIED
>

<!ELEMENT publication EMPTY>
<!ATTLIST publication
    Publication_id CDATA #REQUIRED
    Full_title CDATA #IMPLIED
    Author CDATA #IMPLIED
    Published CDATA #IMPLIED
    Publication_type_id CDATA #IMPLIED
>

<!ELEMENT publication_edition EMPTY>
<!ATTLIST publication_edition
    Publication_edition_id CDATA #REQUIRED
    Publication_id CDATA #IMPLIED
    Article_author CDATA #IMPLIED
    Article_title CDATA #IMPLIED
>

<!ELEMENT publication_type EMPTY>
<!ATTLIST publication_type
    Publication_type_id CDATA #REQUIRED
    Type_of_publication CDATA #IMPLIED
>

<!ELEMENT web_log EMPTY>
<!ATTLIST web_log
    web_log_id CDATA #REQUIRED
    search_date CDATA #REQUIRED
    ip_address CDATA #IMPLIED
    search_type CDATA #IMPLIED
    result_count CDATA #IMPLIED
    family CDATA #IMPLIED
    genus CDATA #IMPLIED
    species CDATA #IMPLIED
    author CDATA #IMPLIED
    infra_rank CDATA #IMPLIED
    infra_epithet CDATA #IMPLIED
    publication CDATA #IMPLIED
    published CDATA #IMPLIED
    tdwg_codes CDATA #IMPLIED
    checklist CDATA #IMPLIED
    req_referer CDATA #IMPLIED
    req_host CDATA #IMPLIED
    remote_host CDATA #IMPLIED
>