emonocot-portal/src/main/wsdl/efetch_snp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
    xmlns:tns="http://www.ncbi.nlm.nih.gov/soap/eutils/efetch_snp"
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    targetNamespace="http://www.ncbi.nlm.nih.gov/soap/eutils/efetch_snp"
    elementFormDefault="qualified"
    >
    
    <!-- version="2.0" -->

	<!-- new actual schema: ftp://ftp.ncbi.nih.gov/snp/specs/docsum_3.3.xsd -->

	<xs:element name="ExchangeSet">
		<xs:annotation>
			<xs:documentation>Set of dbSNP refSNP docsums, version 3.2</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SourceDatabase" minOccurs="0">
					<xs:complexType>
						<xs:attribute name="taxId" type="xs:int" use="required">
							<xs:annotation>
								<xs:documentation>NCBI taxonomy ID for
									variation</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="organism" type="xs:string" use="required">
							<xs:annotation>
								<xs:documentation>common name for species used as part of database
									name.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="dbSnpOrgAbbr" type="xs:string">
							<xs:annotation>
								<xs:documentation>organism abbreviation used in dbSNP.
								</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="gpipeOrgAbbr" type="xs:string">
							<xs:annotation>
								<xs:documentation>organism abbreviation used within NCBI genome
									pipeline data dumps.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element ref="tns:Rs" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="tns:Assay" minOccurs="0"/>
				<xs:element name="Query" minOccurs="0">
					<xs:complexType>
						<xs:attribute name="date" type="xs:string">
							<xs:annotation>
								<xs:documentation>yyyy-mm-dd</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="string" type="xs:string">
							<xs:annotation>
								<xs:documentation>Query terms or search
									constraints</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="Summary" minOccurs="0">
					<xs:complexType>
						<xs:attribute name="numRsIds" type="xs:integer" use="optional">
							<xs:annotation>
								<xs:documentation>Total number of refsnp-ids in this exchange set
								</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="totalSeqLength" type="xs:integer" use="optional">
							<xs:annotation>
								<xs:documentation>Total length of exemplar flanking
									sequences</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="numContigHits" type="xs:integer" use="optional">
							<xs:annotation>
								<xs:documentation>Total number of contig locations from
									SNPContigLoc</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="numGeneHits" type="xs:integer" use="optional">
							<xs:annotation>
								<xs:documentation>Total number of locus ids from
									SNPContigLocusId</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="numGiHits" type="xs:integer" use="optional">
							<xs:annotation>
								<xs:documentation>Total number of gi hits from
									MapLink</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="num3dStructs" type="xs:integer" use="optional">
							<xs:annotation>
								<xs:documentation>Total number of 3D structures from
									SNP3D</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="numAlleleFreqs" type="xs:integer" use="optional">
							<xs:annotation>
								<xs:documentation>Total number of allele frequences from
									SubPopAllele</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="numStsHits" type="xs:integer" use="optional">
							<xs:annotation>
								<xs:documentation>Total number of STS hits from
									SnpInSts</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="numUnigeneCids" type="xs:integer" use="optional">
							<xs:annotation>
								<xs:documentation>Total number of unigene cluster ids from
									UnigeneSnp</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element ref="tns:BaseURL" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="setType" type="xs:string">
				<xs:annotation>
					<xs:documentation>set-type: full dump; from query; single
						refSNP</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="setDepth" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>content depth: brief XML (only refSNP properties and summary
						subSNP element content); full XML (full refSNP, full subSNP content; all
						flanking sequences) </xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="specVersion" type="xs:string">
				<xs:annotation>
					<xs:documentation>version number of docsum.asn/docsum.dtd
						specification</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="dbSnpBuild" type="xs:int">
				<xs:annotation>
					<xs:documentation>build number of database for this export</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="generated" type="xs:string">
				<xs:annotation>
					<xs:documentation>Generated date</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Rs">
		<xs:annotation>
			<xs:documentation>defines the docsum structure for refSNP clusters, where a refSNP
				cluster (rs) is a grouping of individual dbSNP submissions that all refer to the
				same variation. The refsnp provides a single unified record for annotation of NCBI
				resources such as reference genome sequence.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Het" minOccurs="0">
					<xs:complexType>
						<xs:attribute name="type" use="required">
							<xs:annotation>
								<xs:documentation>Est=Estimated average het from allele
									frequencies, Obs=Observed from genotype data</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="est"/>
									<xs:enumeration value="obs"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="value" type="xs:float" use="required">
							<xs:annotation>
								<xs:documentation>Heterozygosity</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="stdError" type="xs:float">
							<xs:annotation>
								<xs:documentation>Standard error of Het
									estimate</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="Validation">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="otherPopBatchId" type="xs:int" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>dbSNP batch-id's for other pop snp validation
										data.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="twoHit2AlleleBatchId" type="xs:int" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>dbSNP batch-id's for double-hit snp
										validation data. Use batch-id to get methods, etc.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="FrequencyClass" type="xs:int" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Frequency validation class (1) low frequency
										variation that is cited in journal and other reputable
										sources (2) greater than 5 percent minor allele freq in each
										and all populations (4) greater than 5 percent minor allele
										freq in 1+ populations (8) if the variant has 2+ minor
										allele count based on freq or genotype data (16) less than 1
										percent minor allele freq in each and all populations (32)
										less than 1 percent minor freq in 1+ populations
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="HapMapPhase" type="xs:int" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>alidated by HapMap Project phase1-genotyped
										(1), Phase 1 genotyped; filtered, non-redundant
										phase2-genotyped (2), Phase 2 genotyped; filtered,
										non-redundant phase3-genotyped (4) Phase 3 genotyped;
										filtered, non-redundant </xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="TGPPhase" type="xs:int" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Validated by 1000 Genomes Project (TGP) pilot
										1 (1), pilot 2 (2), pilot 3 (4) </xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="SuspectEvidence" type="xs:string" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Suspected to be false SNP evidence Single
										Nucleotide Difference - paralogous genes (1), Genotype or
										base calling errors (2), Submission evidence or errors (4),
										Others (8) </xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="byCluster" type="xs:boolean">
							<xs:annotation>
								<xs:documentation>at least one subsnp in cluster has frequency data
									submitted</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="byFrequency" type="xs:boolean">
							<xs:annotation>
								<xs:documentation>Validated by allele frequency</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="byOtherPop" type="xs:boolean"/>
						<xs:attribute name="by2Hit2Allele" type="xs:boolean">
							<xs:annotation>
								<xs:documentation>cluster has 2+ submissions, with 1+ submissions
									assayed with a non-computational method</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="byHapMap" type="xs:boolean">
							<xs:annotation>
								<xs:documentation>Validated by HapMap Project </xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="by1000G" type="xs:boolean">
							<xs:annotation>
								<xs:documentation>Validated by 1000 Genomes Project
								</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="suspect" type="xs:boolean">
							<xs:annotation>
								<xs:documentation>Suspected to be false SNP</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="Create">
					<xs:annotation>
						<xs:documentation>date the refsnp cluster was
							instantiated</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="build" type="xs:int">
							<xs:annotation>
								<xs:documentation>build number when the cluster was
									created</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="date" type="xs:string">
							<xs:annotation>
								<xs:documentation>yyyy-mm-dd</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="Update" minOccurs="0">
					<xs:annotation>
						<xs:documentation>most recent date the cluster was updated (member added or
							deleted)</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="build" type="xs:int">
							<xs:annotation>
								<xs:documentation>build number when the cluster was
									updated</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="date" type="xs:string">
							<xs:annotation>
								<xs:documentation>yyyy-mm-dd</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="Sequence">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Seq5" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>5' sequence that flanks the
										variation</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Observed" type="xs:string">
								<xs:annotation>
									<xs:documentation>list of all nucleotide alleles observed in
										ss-list members, correcting for reverse complementation of
										members reported in reverse orientation</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Seq3" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>3' sequence that flanks the
										variation</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="exemplarSs" type="xs:int" use="required">
							<xs:annotation>
								<xs:documentation>dbSNP ss# selected as source of refSNP flanking
									sequence, ss# part of ss-list below </xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="ancestralAllele" type="xs:string"/>
					</xs:complexType>
				</xs:element>
				<xs:element ref="tns:Ss" maxOccurs="unbounded"/>
				<xs:element ref="tns:Assembly" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="tns:PrimarySequence" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="tns:RsStruct" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="tns:RsLinkout" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="MergeHistory" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="rsId" type="xs:int" use="required">
							<xs:annotation>
								<xs:documentation>previously issued rs id whose member assays have
									now been merged</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="buildId" type="xs:int">
							<xs:annotation>
								<xs:documentation>build id when rs id was merged into parent
									rs</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="orientFlip" type="xs:boolean">
							<xs:annotation>
								<xs:documentation>TRUE if strand of rs id is reverse to parent
									object's current strand</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="hgvs" type="xs:string" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation> HGVS name list </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="AlleleOrigin" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>    
							origin of this allele, if known
							note that these are powers-of-two, and represent bits; thus, we can
							represent more than one state simultaneously through a bitwise OR
							unknown         (0),
							germline        (1),
							somatic         (2),
							inherited       (4),
							paternal        (8),
							maternal        (16),
							de-novo         (32),
							biparental      (64),
							uniparental     (128),
							not-tested      (256),
							tested-inconclusive (512),
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:integer">
								<xs:attribute name="allele" type="xs:string"/>
							</xs:extension>
						</xs:simpleContent>
						<!--
							<xs:simpleType name="aoType">
							
							<xs:restriction base="xs:string">
							<xs:enumeration value="unknown"/>
							<xs:enumeration value="germline"/>
							<xs:enumeration value="somatic"/>
							<xs:enumeration value="inherited"/>
							<xs:enumeration value="paternal"/>
							<xs:enumeration value="maternal"/>
							<xs:enumeration value="de-novo"/>
							<xs:enumeration value="bipaternal"/>
							<xs:enumeration value="unipaternal"/>
							<xs:enumeration value="not-tested"/>
							<xs:enumeration value="tested-inconclusive"/>
							</xs:restriction>
							
							</xs:simpleType>
						-->
					</xs:complexType>
				</xs:element>
				<xs:element name="Phenotype" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence minOccurs="0" maxOccurs="unbounded">
							<xs:element name="ClinicalSignificance" type="xs:string">
								<xs:annotation>
									<xs:documentation>         
										unknown                 (0),
										untested                (1),
										non-pathogenic          (2),
										probable-non-pathogenic (3),
										probable-pathogenic     (4),
										pathogenic              (5),
										drug response           (6),
										other                   (255)
									</xs:documentation>
								</xs:annotation>
								<!--
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="unknown"/>
										<xs:enumeration value="untested"/>
										<xs:enumeration value="non-pathogenic"/>
										<xs:enumeration value="probable-non-pathogenic"/>
										<xs:enumeration value="probable-pathogenic"/>
										<xs:enumeration value="pathogenic"/>
										<xs:enumeration value="other"/>
									</xs:restriction>
								</xs:simpleType>
								-->
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="BioSource" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Genome" type="xs:string" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>         
										unknown (0) ,
										genomic (1) ,
										chloroplast (2) ,
										chromoplast (3) ,
										kinetoplast (4) ,
										mitochondrion (5) ,
										plastid (6) ,
										macronuclear (7) ,
										extrachrom (8) ,
										plasmid (9) ,
										transposon (10) ,
										insertion-seq (11) ,
										cyanelle (12) ,
										proviral (13) ,
										virion (14) ,
										nucleomorph (15) ,
										apicoplast (16) ,
										leucoplast (17) ,
										proplastid (18) ,
										endogenous-virus (19) ,
										hydrogenosome (20) ,
										chromosome (21) ,
										chromatophore (22)
									</xs:documentation>
								</xs:annotation>
								<!--
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="unknown"/>
										<xs:enumeration value="genomic"/>
										<xs:enumeration value="chloroplast"/>
										<xs:enumeration value="chromoplast"/>
										<xs:enumeration value="kinetoplast"/>
										<xs:enumeration value="mitochondrion"/>
										<xs:enumeration value="plastid"/>
										<xs:enumeration value="macronuclear"/>
										<xs:enumeration value="extrachrom"/>
										<xs:enumeration value="plasmid"/>
										<xs:enumeration value="transposon"/>
										<xs:enumeration value="insertion"/>
										<xs:enumeration value="cyanelle"/>
										<xs:enumeration value="proviral"/>
										<xs:enumeration value="virion"/>
										<xs:enumeration value="nucleomorph"/>
										<xs:enumeration value="apicoplast"/>
										<xs:enumeration value="leucoplast"/>
										<xs:enumeration value="proplastid"/>
										<xs:enumeration value="endogenous"/>
										<xs:enumeration value="hydrogenosome"/>
										<xs:enumeration value="chromosome"/>
										<xs:enumeration value="chromatophore"/>
									</xs:restriction>
								</xs:simpleType>
								-->
							</xs:element>
							<xs:element name="Origin" type="xs:string" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>         
										unknown (0) ,
										natural (1) ,                    normal biological entity
										natmut (2) ,                    naturally occurring mutant
										mut (3) ,                        artificially mutagenized
										artificial (4) ,                 artificially engineered
										synthetic (5) ,                 purely synthetic
										other (255)
									</xs:documentation>
								</xs:annotation>
								<!--
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="unknown"/>
										<xs:enumeration value="natural"/>
										<xs:enumeration value="natmut"/>
										<xs:enumeration value="mut"/>
										<xs:enumeration value="artificial"/>
										<xs:enumeration value="synthetic"/>
										<xs:enumeration value="other"/>
									</xs:restriction>
								</xs:simpleType>
								-->
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Frequency" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="freq" type="xs:double"/>
						<xs:attribute name="allele" type="xs:string"/>
						<xs:attribute name="popId" type="xs:integer">
							<xs:annotation>
								<xs:documentation>dbSNP Populaton ID</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="sampleSize" type="xs:integer"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="rsId" type="xs:int" use="required">
				<xs:annotation>
					<xs:documentation>refSNP (rs) number</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="snpClass" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="snp"/>
						<xs:enumeration value="in-del"/>
						<xs:enumeration value="heterozygous"/>
						<xs:enumeration value="microsatellite"/>
						<xs:enumeration value="named-locus"/>
						<xs:enumeration value="no-variation"/>
						<xs:enumeration value="mixed"/>
						<xs:enumeration value="multinucleotide-polymorphism"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="snpType" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="notwithdrawn"/>
						<xs:enumeration value="artifact"/>
						<xs:enumeration value="gene-duplication"/>
						<xs:enumeration value="duplicate-submission"/>
						<xs:enumeration value="notspecified"/>
						<xs:enumeration value="ambiguous-location"/>
						<xs:enumeration value="low-map-quality"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="molType" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="genomic"/>
						<xs:enumeration value="cDNA"/>
						<xs:enumeration value="mito"/>
						<xs:enumeration value="chloro"/>
						<xs:enumeration value="unknown"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="validProbMin" type="xs:integer" use="optional">
				<xs:annotation>
					<xs:documentation>minimum reported success rate of all submissions in
						cluster</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="validProbMax" type="xs:integer" use="optional">
				<xs:annotation>
					<xs:documentation>maximum reported success rate of all submissions in
						cluster</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="genotype" type="xs:boolean" use="optional">
				<xs:annotation>
					<xs:documentation>at least one genotype reported for this
						refSNP</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="bitField" type="xs:string" use="optional"/>
			<xs:attribute name="taxId" type="xs:int"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Ss">
		<xs:annotation>
			<xs:documentation>data for an individual submission to dbSNP</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Sequence">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Seq5" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>5' sequence that flanks the
										variation</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Observed" type="xs:string">
								<xs:annotation>
									<xs:documentation>list of all nucleotide alleles observed in
										ss-list members, correcting for reverse complementation of
										memebers reported in reverse orientation</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Seq3" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>3' sequence that flanks the
										variation</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="ssId" type="xs:int" use="required">
				<xs:annotation>
					<xs:documentation>dbSNP accession number for submission</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="handle" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>Tag for the submitting laboratory</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="batchId" type="xs:int" use="required">
				<xs:annotation>
					<xs:documentation>dbSNP number for batch submission</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="locSnpId" type="xs:string">
				<xs:annotation>
					<xs:documentation>submission (ss#) submitter ID</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="subSnpClass">
				<xs:annotation>
					<xs:documentation>SubSNP classification by type of
						variation</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="snp"/>
						<xs:enumeration value="in-del"/>
						<xs:enumeration value="heterozygous"/>
						<xs:enumeration value="microsatellite"/>
						<xs:enumeration value="named-locus"/>
						<xs:enumeration value="no-variation"/>
						<xs:enumeration value="mixed"/>
						<xs:enumeration value="multinucleotide-polymorphism"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="orient">
				<xs:annotation>
					<xs:documentation>orientation of refsnp cluster members to refsnp cluster
						sequence</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="forward">
							<xs:annotation>
								<xs:documentation>ss flanking sequence is in same orientation as
									seq-ss-exemplar</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="reverse">
							<xs:annotation>
								<xs:documentation>flanking sequence and alleles are reverse
									complement of refSNP as defined by ss exemplar
								</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="strand">
				<xs:annotation>
					<xs:documentation>strand is defined as TOP/BOTTOM by nature of flanking
						nucleotide sequence</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="top"/>
						<xs:enumeration value="bottom"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="molType">
				<xs:annotation>
					<xs:documentation>moltype from Batch table</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="genomic"/>
						<xs:enumeration value="cDNA"/>
						<xs:enumeration value="mito"/>
						<xs:enumeration value="chloro"/>
						<xs:enumeration value="unknown"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="buildId" type="xs:int">
				<xs:annotation>
					<xs:documentation>dbSNP build number when ss# was added to a refSNP (rs#)
						cluster</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="methodClass">
				<xs:annotation>
					<xs:documentation>class of method used to assay for the
						variation</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="DHPLC">
							<xs:annotation>
								<xs:documentation>Denaturing High Pressure Liquid Chromatography
									used to detect SNP</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="hybridize">
							<xs:annotation>
								<xs:documentation>a hybridization method (e.g. chip) was used to
									assay for variation</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="computed">
							<xs:annotation>
								<xs:documentation>variation was mined from sequence alignment with
									software</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="SSCP"/>
						<xs:enumeration value="other"/>
						<xs:enumeration value="unknown"/>
						<xs:enumeration value="RFLP"/>
						<xs:enumeration value="sequence">
							<xs:annotation>
								<xs:documentation>samples were sequenced and resulting alignment
									used to define variation</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="validated">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="by-submitter">
							<xs:annotation>
								<xs:documentation>subsnp has been experimentally validated by
									submitter</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="by-frequency">
							<xs:annotation>
								<xs:documentation>subsnp has frequency data
									submitted</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="by-cluster">
							<xs:annotation>
								<xs:documentation>has 2+ submissions, with 1+ submission assayed
									with a non-computational method</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="linkoutUrl" type="xs:string">
				<xs:annotation>
					<xs:documentation>append loc-snp-id to this base URL to construct a pointer to
						submitter data.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ssAlias" type="xs:string"/>
			<xs:attribute name="alleleOrigin" type="xs:integer">
				<!--
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="unknown"/>
						<xs:enumeration value="germline"/>
						<xs:enumeration value="somatic"/>
						<xs:enumeration value="inherited"/>
						<xs:enumeration value="paternal"/>
						<xs:enumeration value="maternal"/>
						<xs:enumeration value="de-novo"/>
						<xs:enumeration value="other"/>
					</xs:restriction>
				</xs:simpleType>
				-->
			</xs:attribute>
			<xs:attribute name="clinicalSignificance" type="xs:string">
				<!--
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="unknown"/>
						<xs:enumeration value="untested"/>
						<xs:enumeration value="non-pathogenic"/>
						<xs:enumeration value="probable-non-pathogenic"/>
						<xs:enumeration value="probable-pathogenic"/>
						<xs:enumeration value="pathogenic"/>
						<xs:enumeration value="other"/>
					</xs:restriction>
				</xs:simpleType>
				-->
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="MapLoc">
		<xs:annotation>
			<xs:documentation>Position of a single hit of a variation on a
				contig</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tns:FxnSet" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="asnFrom" type="xs:integer" use="required">
				<xs:annotation>
					<xs:documentation>beginning of variation as feature on
						contig</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="asnTo" type="xs:integer" use="required">
				<xs:annotation>
					<xs:documentation>end position of variation as feature on
						contig</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="locType" use="required">
				<xs:annotation>
					<xs:documentation>defines the seq-loc symbol if asn_from !=
						asn_to</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="insertion">
							<xs:annotation>
								<xs:documentation>insertion on contig</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="exact">
							<xs:annotation>
								<xs:documentation>asn-from = asn-to write as
									'asn-from'</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="deletion">
							<xs:annotation>
								<xs:documentation>deletion on contig</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="range-ins"/>
						<xs:enumeration value="range-exact"/>
						<xs:enumeration value="range-del"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="alnQuality" type="xs:double" use="optional">
				<xs:annotation>
					<xs:documentation>alignment qualiity</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="orient" use="optional">
				<xs:annotation>
					<xs:documentation>orientation of refSNP sequence to contig
						sequence</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="forward"/>
						<xs:enumeration value="reverse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="physMapInt" type="xs:int">
				<xs:annotation>
					<xs:documentation>chromosome position as integer for
						sorting</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="leftFlankNeighborPos" type="xs:int">
				<xs:annotation>
					<xs:documentation>nearest aligned position in 5' flanking sequence of
						snp</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="rightFlankNeighborPos" type="xs:int">
				<xs:annotation>
					<xs:documentation>nearest aligned position in 3' flanking sequence of snp
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="leftContigNeighborPos" type="xs:int">
				<xs:annotation>
					<xs:documentation>nearest aligned position in 5' contig alignment of
						snp</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="rightContigNeighborPos" type="xs:int">
				<xs:annotation>
					<xs:documentation>nearest aligned position in 3' contig alignment of
						snp</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="numberOfMismatches" type="xs:int">
				<xs:annotation>
					<xs:documentation>number of Mismatched positions in this
						alignment</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="numberOfDeletions" type="xs:int">
				<xs:annotation>
					<xs:documentation>number of deletions in this alignment</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="numberOfInsertions" type="xs:int">
				<xs:annotation>
					<xs:documentation>number of insetions in this alignment</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="FxnSet">
		<xs:annotation>
			<xs:documentation>functional relationship of SNP (and possibly alleles) to genes at
				contig location as defined in organism-specific bxxx_SNPContigLocusId_xxx
				tables.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="geneId" type="xs:int">
				<xs:annotation>
					<xs:documentation>gene-id of gene as aligned to contig</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="symbol" type="xs:string">
				<xs:annotation>
					<xs:documentation>symbol (official if present in Entrez Gene) of
						gene</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="mrnaAcc" type="xs:string">
				<xs:annotation>
					<xs:documentation>mRNA accession if variation in transcript</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="mrnaVer" type="xs:int">
				<xs:annotation>
					<xs:documentation>mRNA sequence version if variation is in
						transcripot</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="protAcc" type="xs:string">
				<xs:annotation>
					<xs:documentation>protein accession if variation in protein</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="protVer" type="xs:int">
				<xs:annotation>
					<xs:documentation>protein version if variation is in
						protein</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="fxnClass">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="locus-region">
							<xs:annotation>
								<xs:documentation>variation in region of gene, but not in
										transcript - deprecated</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="coding-unknown">
							<xs:annotation>
								<xs:documentation>Deprecated!</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="synonymous-codon">
							<xs:annotation>
								<xs:documentation>
										Sequence Ontology (SO) ID:0001588
										Replaced dbSNP term: cds-synon
									</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="non-synonymous-codon">
							<xs:annotation>
								<xs:documentation>
										Sequence Ontology (SO) ID:0001583
										Replaced dbSNP term: missense
									</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="mrna-utr">
							<xs:annotation>
								<xs:documentation> untranslated region - deprecated
									</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="intron-variant">
							<xs:annotation>
								<xs:documentation>
										Sequence Ontology (SO) ID:0001627
										Replaced dbSNP term: intron
									</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="splice-region-variant">
							<xs:annotation>
								<xs:documentation>
										Sequence Ontology (SO) ID:0001630
									</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="reference">
							<xs:annotation>
								<xs:documentation> contig reference </xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="coding-exception">
							<xs:annotation>
								<xs:documentation> deprecated </xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="coding-sequence-variant">
							<xs:annotation>
								<xs:documentation>
										Sequence Ontology (SO) ID:0001580
										Replaced dbSNP term: synonymy-unknown
									</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="nc-transcript-variant">
							<xs:annotation>
								<xs:documentation>
										Sequence Ontology (SO) ID:0001619
										Replaced dbSNP term: gene-segment
									</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="downstream-variant-500B">
							<xs:annotation>
								<xs:documentation>
										Sequence Ontology (SO) ID:0001634
										Replaced dbSNP term: near-gene-3
										NOTE: replace SO term 500B_downstream_variant with downstream_variant_500B since number beginning of string not supported
									</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="upstream-variant-2KB">
							<xs:annotation>
								<xs:documentation>
										Sequence Ontology (SO) ID:0001636
										Replaced dbSNP term: near-gene-5
										NOTE: replace SO term 2KB_upstream_variant with upstream_variant_2KB since number beginning of string not supported
									</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="nonsense">
							<xs:annotation>
								<xs:documentation>
										Sequence Ontology (SO) ID:0001587
										Replaced dbSNP term: nonsense
									</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="missense">
							<xs:annotation>
								<xs:documentation> alters codon to make an altered amino acid in
										protein product. </xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="frameshift-variant">
							<xs:annotation>
								<xs:documentation>
										Sequence Ontology (SO) ID:0001589
										Replaced dbSNP term: frameshift
									</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="utr-variant-3-prime">
							<xs:annotation>
								<xs:documentation>
										Sequence Ontology (SO) ID:0001624
										Replaced dbSNP term: untranslated-3
										NOTE: replace SO term 3_prime_UTR_variant with UTR_variant_3_prime since number beginning of string not supported
									</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="utr-variant-5-prime">
							<xs:annotation>
								<xs:documentation>
									Sequence Ontology (SO) ID:0001635
									Replace dbSNP utr-5
									NOTE: replace SO term 5KB_upstream_variant with upstream_variant_5KB since number beginning of string not supported
								</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="splice-acceptor-variant">
							<xs:annotation>
								<xs:documentation>
										Sequence Ontology (SO) ID:0001574
										Replaced dbSNP term: splice-3
									</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="splice-donor-variant">
							<xs:annotation>
								<xs:documentation>
										Sequence Ontology (SO) ID:0001575
										Replaced dbSNP term: splice-5
									</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="cds-indel">
							<xs:annotation>
								<xs:documentation>indel snp with length of multiple of 3bp, not
										causing frameshift.&gt;</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="stop-gained">
							<xs:annotation>
								<xs:documentation>
									Sequence Ontology (SO) ID:0001633
									NOTE: replace SO term 5KB_downstream_variant with downstream_variant_5KB since number beginning of string not supported
								</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="stop-lost">
							<xs:annotation>
								<xs:documentation>
									Sequence Ontology (SO) ID:0001578
								</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="complex-change-in-transcript">
							<xs:annotation>
								<xs:documentation>
									Sequence Ontology (SO) ID:0001577
								</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="incomplete-terminal-codon-variant">
							<xs:annotation>
								<xs:documentation>
									Sequence Ontology (SO) ID: 0001626
								</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="nmd-transcript-variant">
							<xs:annotation>
								<xs:documentation>
									Sequence Ontology (SO) ID: 0001621
								</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="mature-miRNA-variant">
							<xs:annotation>
								<xs:documentation>
									Sequence Ontology (SO) ID: 0001620
								</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="upstream-variant-5KB"/>
						<xs:enumeration value="downstream-variant-5KB"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="readingFrame" type="xs:int"/>
			<xs:attribute name="allele" type="xs:string">
				<xs:annotation>
					<xs:documentation>variation allele: * suffix indicates allele of contig at this
						location</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="residue" type="xs:string">
				<xs:annotation>
					<xs:documentation>translated amino acid residue for allele</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="aaPosition" type="xs:int">
				<xs:annotation>
					<xs:documentation>position of the variant residue in peptide
						sequence</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="mrnaPosition" type="xs:int"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Assembly">
		<xs:annotation>
			<xs:documentation>A collection of genome sequence records (curated gene regions (NG's),
				contigs (NWNT's) and chromosomes (NC/AC's) produced by a genome sequence project.
				Structure is populated from ContigInfo tables.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tns:Component" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="SnpStat">
					<xs:complexType>
						<xs:attribute name="mapWeight" use="required">
							<xs:annotation>
								<xs:documentation>summary measure of placement precision in the
									assembly</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="unmapped"/>
									<xs:enumeration value="unique-in-contig"/>
									<xs:enumeration value="two-hits-in-contig"/>
									<xs:enumeration value="less-10-hits"/>
									<xs:enumeration value="multiple-hits"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="chromCount" type="xs:int" use="optional">
							<xs:annotation>
								<xs:documentation>number of distinct chromosomes in the
									mapset</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="placedContigCount" type="xs:int" use="optional">
							<xs:annotation>
								<xs:documentation>number of distinct contigs [ gi |
									accession[.version] ] in the mapset</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="unplacedContigCount" type="xs:int" use="optional">
							<xs:annotation>
								<xs:documentation>number of sequence postions to a contig with
									unknown chromosomal assignment</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="seqlocCount" type="xs:int" use="optional">
							<xs:annotation>
								<xs:documentation>total number of sequence positions in the
									mapset</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="hapCount" type="xs:int" use="optional">
							<xs:annotation>
								<xs:documentation>Number of hits to alternative genomic haplotypes
									(e.g. HLA DR region, KIR, or pseudo-autosomal regions like PAR)
									within the assembly mapset. Note that positions on haplotypes
									defined in other assemblies (a different assembly_group_label
									value) will not be counted in this value.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="dbSnpBuild" type="xs:int" use="required">
				<xs:annotation>
					<xs:documentation>dbSNP build number defining the rsid set aligned to this
						assembly</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="genomeBuild" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>assembly build number with possible 'subbuild' version
						numbers to reflect updates in gene annotation (human e.g. 34_3, 35_1,
						36_1)</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="groupLabel" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>High-level classification of the assembly to distinguish
						reference projects from alternate solutions. GroupLabel field from
						organism/build-specific ContigInfo tables. "reference" is occasionally used
						as the preferred assembly; standards will converge as additional organism
						genome projects are finished. Note that some organism assembly names include
						extended characters like '~' and '/' that may be incompatible with OS
						filename conventions.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="assemblySource" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Name of the group(s) or organization(s) that generated the
						assembly</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="current" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Marks the current genomic assembly</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="reference" type="xs:boolean"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Assay">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Method">
					<xs:complexType>
						<xs:sequence minOccurs="0">
							<xs:element name="Exception" type="xs:string">
								<xs:annotation>
									<xs:documentation>description of deviation from/addition to
										given method </xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="name" type="xs:string">
							<xs:annotation>
								<xs:documentation>Submitters method identifier</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="Id" type="xs:string">
							<xs:annotation>
								<xs:documentation>dbSNP method identifier</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="Taxonomy">
					<xs:complexType>
						<xs:attribute name="id" type="xs:int" use="required">
							<xs:annotation>
								<xs:documentation>NCBI taxonomy ID for
									variation</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="organism" type="xs:string"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="Strains" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="Comment" type="xs:string" minOccurs="0"/>
				<xs:element name="Citation" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="handle" type="xs:string"/>
			<xs:attribute name="batch" type="xs:string"/>
			<xs:attribute name="batchId" type="xs:int"/>
			<xs:attribute name="batchType">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="snpassay"/>
						<xs:enumeration value="validation"/>
						<xs:enumeration value="doublehit"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="molType">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="genomic"/>
						<xs:enumeration value="cDNA"/>
						<xs:enumeration value="mito"/>
						<xs:enumeration value="chloro"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="sampleSize" type="xs:int"/>
			<xs:attribute name="population" type="xs:string"/>
			<xs:attribute name="linkoutUrl" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="BaseURL">
		<xs:annotation>
			<xs:documentation>URL value from dbSNP_main.BaseURL links table. attributes provide
				context information and URL id that is referenced within individual refSNP
				objects.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="urlId" type="xs:int">
						<xs:annotation>
							<xs:documentation>Resource identifier from
								dbSNP_main.baseURL.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="resourceName" type="xs:string">
						<xs:annotation>
							<xs:documentation>Name of linked resource</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="resourceId" type="xs:string">
						<xs:annotation>
							<xs:documentation>identifier expected by resource for
								URL</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="PrimarySequence">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tns:MapLoc" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="dbSnpBuild" type="xs:int" use="required"/>
			<xs:attribute name="gi" type="xs:int" use="required"/>
			<xs:attribute name="source">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="submitter"/>
						<xs:enumeration value="blastmb"/>
						<xs:enumeration value="xm"/>
						<xs:enumeration value="remap"/>
						<xs:enumeration value="hgvs"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="accession" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="RsStruct">
		<xs:annotation>
			<xs:documentation>structure information for SNP</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="protAcc" type="xs:string">
				<xs:annotation>
					<xs:documentation>accession of the protein with variation</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="protGi" type="xs:int">
				<xs:annotation>
					<xs:documentation>GI of the protein with variation</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="protLoc" type="xs:int">
				<xs:annotation>
					<xs:documentation>position of the residue for the protein
						GI</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="protResidue" type="xs:string">
				<xs:annotation>
					<xs:documentation>residue specified for protein at prot-loc
						location</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="rsResidue" type="xs:string">
				<xs:annotation>
					<xs:documentation>alternative residue specified by variation
						sequence</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="structGi" type="xs:int">
				<xs:annotation>
					<xs:documentation>GI of the structure neighbor</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="structLoc" type="xs:int">
				<xs:annotation>
					<xs:documentation>position of the residue for the structure
						GI</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="structResidue" type="xs:string">
				<xs:annotation>
					<xs:documentation>residue specified for protein at struct-loc
						location</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="RsLinkout">
		<xs:annotation>
			<xs:documentation>link data for another resource</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="resourceId" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>BaseURLList.url_id</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="linkValue" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>value to append to ResourceURL.base-url for complete
						link</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Component">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tns:MapLoc" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="componentType">
				<xs:annotation>
					<xs:documentation>type of component: chromosome, contig, gene_region,
						etc.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="contig"/>
						<xs:enumeration value="mrna"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ctgId" type="xs:int">
				<xs:annotation>
					<xs:documentation>dbSNP contig_id used to join on contig hit / mapset data to
						these assembly properties</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="accession" type="xs:string">
				<xs:annotation>
					<xs:documentation>Accession[.version] for the sequence
						component</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="name" type="xs:string">
				<xs:annotation>
					<xs:documentation>contig name defined as either a submitter local id, element
						of a whole genome assembly set, or internal NCBI local
						id</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="chromosome" type="xs:string">
				<xs:annotation>
					<xs:documentation>Organism appropriate chromosome tag, 'Un' reserved for
						default case of unplaced components</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="start" type="xs:int">
				<xs:annotation>
					<xs:documentation>component starting position on the chromosome (base 0
						inclusive)</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="end" type="xs:int">
				<xs:annotation>
					<xs:documentation>component ending position on the chromosome (base 0
						inclusive)</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="orientation">
				<xs:annotation>
					<xs:documentation>orientation of this component to chromosome, forward (fwd) =
						0, reverse (rev) = 1, unknown = NULL in
						ContigInfo.orient.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="fwd"/>
						<xs:enumeration value="rev"/>
						<xs:enumeration value="unknown"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="gi" type="xs:string">
				<xs:annotation>
					<xs:documentation>NCBI gi for component sequence (equivalent to
						accession.version) for nucleotide sequence.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="groupTerm" type="xs:string">
				<xs:annotation>
					<xs:documentation>Identifier label for the genome assembly that defines the
						contigs in this mapset and their placement within the organism genome.
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="contigLabel" type="xs:string">
				<xs:annotation>
					<xs:documentation>Display label for component</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

</xs:schema>
